body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: #fdfdfd;
}

html, a, body,  header, main, footer, li, ul, ol, div, p, h1, h2, h3, h4, img, form, button, input {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #48e;
    color: white;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    text-decoration: none;
    transition: background-color 0.3s;
    z-index: 100;
  }
  
  .scroll-to-top:hover {
    opacity: 0.7;
  }

/* -------- HEADER -------- */

.header {
    display: flex;
    justify-content: center;
    height: 4rem;
    background-color: #48e;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 30;
}

.header__bgmenu-checkbox {
    display: none;
}

.header__bgmenu-label {
    position: absolute;
    font-size: 2rem;
    left: 0.7em;
    color: #fdfdfd;
    z-index: 20;
    align-self: center;
}

.header__bgmenu-label:hover {
    cursor: pointer;
}

.header__nav-container {
    display: none;
    background-color: #fdfdfd;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.header__nav-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    height: 40vh;
    margin: auto;
    justify-content: space-around;
}

.header__nav-list a {
    color: #48e;
    text-decoration: underline;
    font-weight: 600;
    font-size: 1.3em;
}

.header__nav-item a:not(:is(:hover , :active)) {
    text-decoration: none;
}

.header__bgmenu-checkbox:checked ~ .header__nav-container {
    display: flex;
    transform: translateX(100%);
    animation: openbgmenu .7s ease-out forwards alternate; 
}

.header__bgmenu-checkbox:checked ~ .header__bgmenu-label , .header__interaccion-login {
    color: #48e;
}

.header__bgmenu-checkbox:checked ~ body {
    overflow: hidden;
}

.header__interaccion-searchbar {
    display: none;
}

/* LOGO */
.header__logo-container {
    display: flex;
    align-items: center;  /* Centra el logo verticalmente */
    justify-content: center; /* Centra el logo horizontalmente si es necesario */
}

.header__logo {
    max-width: 60%;   /* La imagen se ajusta al ancho del contenedor */
    max-height: 100%;  /* La imagen no sobrepasa la altura del contenedor */
    height: auto;      /* Mantiene la proporción de la imagen */
    width: auto;       /* Asegura que no se distorsione en su ancho */
}

.header__interaccion-container {
    display: flex;
    align-items: center;
    height: 100%;
    position: static;
}

.header__interaccion-cart{
    display: flex;
    position: absolute;
    color: rgb(255, 255, 255);
    top: auto;
    right: 1em;
    font-size: 1.5em;
}

.header__interaccion-cart-link {
    color: #fdfdfd;
}
     
.header__interaccion-login {
    display: none;
    position: absolute;
    color: #48e;
    bottom: -51em;
    left: 3em;
}

.header__interaccion-login a {
    display: flex;
    align-items: center;
    gap: 0.5em;
    color: #48e;
    text-decoration: underline;
}

.header__interaccion-login a:not(:is(:hover , :active)) {
    text-decoration: none;
}

.header__bgmenu-checkbox:checked ~ .header__interaccion-container .header__interaccion-login {
    display: flex;
}

/* -------- HEADER QUERIES -------- */

@keyframes openbgmenu {
    0% {
        transform: translateX(-100%); 
    }
    100% {
        transform: translateX(0); 
    }
}

@media screen and (min-width:1100px){

    .header {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        position: relative;
    }

    .header__interaccion-container {
        display: flex;
        position: relative;
        align-items: center;
    }


    .header__interaccion-searchbar {
        display: flex;
        position: absolute;
        right: 5em;
    }

    .header__interaccion-searchbar-form {
        display: flex;
        box-sizing: border-box;
        border: 2px solid #fdfdfd;
        border-radius: 8px;
        padding: 0;
    }

    .header__interaccion-searchbar-item , .header__interaccion-searchbar-button {
        background-color: transparent;
        box-sizing: border-box;
        color: #fdfdfd;
        border: none;
        border-radius: 5px;
        outline: none;
        padding: 0.5em;
    }
    
    .header__interaccion-searchbar-item {
        height: 100%;
    }

    .header__interaccion-searchbar-item::placeholder {
        color: #fdfdfd;
    }

    .header__interaccion-cart{
        display: flex;
        position: absolute;
        color: rgb(255, 255, 255);
        font-size: 1.5em;
        padding: 0;
    }

    .header__interaccion-login a {
        color: #fdfdfd;
    }
    
    .header__bgmenu-label {
        display: none;
    }
    
    .header__nav-container {
        display: flex;
        position: relative;
        width: 0;
        height: 100%;
        background-color: none;
        z-index: 0;
    }
    
    .header__nav-list {
        display: flex;
        flex-direction: row;
        gap: 2em;
        list-style: none;
        height: 0vh;
        padding: 0 0 0 2em;
        justify-content: start;
        align-items: center;
        color: #fdfdfd;
    }

    .header__nav-list a {
        color: #fdfdfd;
    }
}

/* -------- HEADER END -------- */



/* -------- MAIN -------- */

/* -------- MAIN FIRST SECTION -------- */

.main {
    position: relative;
    z-index: 10;
}

.main__firstsection-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100vh;
    gap: 1em;
    background: url(https://acdn.mitiendanube.com/stores/002/753/652/themes/rio/2-img-11116263-1714680972-f180db0220c53ee68a6d96e9b39730781714680973-1920-1920.webp?1085145947) center / cover no-repeat;
}

.main__firstsection-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); /* Color negro con opacidad del 50% */
    z-index: 10; /* Asegura que esté por encima de la imagen de fondo */
}

.main__firstsection-title , .main__firstsection-button {
    color: #fdfdfd;
    z-index: 20;
}

.main__firstsection-title {
    font-size: 2.8em;
}

.main__firstsection-button {
    max-width: 10em;
    height: 3em;
    width: 100%;
    background-color: transparent;
    border: 2px solid #fdfdfd;
    border-radius: 6px;
    font-size: 1em;
    font-weight: 600;
}

.main__firstsection-button:hover {
    background-color: #fdfdfd;
    cursor: pointer;
    color: #000;
    transition: 0.3s ease-in;
}


/* -------- MAIN FIRST SECTION QUERIES -------- */


/* -------- MAIN SECOND SECTION  -------- */

.main__secondsection-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    background-color: #fdfdfd;
    align-items: center;
    padding: 5em 0;
}

.main__secondsection-title {
    font-size: 2em;
    text-align: center;
    padding-bottom: 2em;
}

.main__secondsection-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6em 1em;
    margin: 0 1em 0 1em;
}


.main__secondsection-products-container {
    max-width: 100%;
    width: 100%;
}

.main__secondsection-products-images {
    max-width: 100%;
    padding: 0;
    margin: 0;
}

.main__secondsection-products-images:hover {
    transition: transform 0.4s ease, filter 0.4s ease; /* Transiciones suaves para el tamaño y el filtro */
    cursor: pointer;
    transform: scale(0.95); 
    filter: grayscale(10%);
}

.main__secondsection-products-links {
    text-decoration: none;
    color: #000;
}

.main__secondsection-products-links h3:hover , .main__secondsection-products-links img:hover {
    opacity: 0.8;
}

.main__secondsection-products-links h3 {
    padding: .5em 0;
    font-weight: 600;
    font-size: 1em;
}

.main__secondsection-products-links p {
    font-weight: 600;
    font-size: 1.1em;
}

/* -------- MAIN SECOND SECTION QUERIES -------- */

@media screen and (min-width:800px){
    .main__secondsection-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media screen and (min-width:1100px){

    .main__secondsection-wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* -------- MAIN THIRD SECTION -------- */

.main__thirdsection-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    width: 100%;
    position: relative;
}

.main__thirdsection-wrapper {
    position: absolute;
}

.main__thirdsection-title , .main__thirdsection-button {
    display: flex;
    margin: auto;
    color: #fdfdfd;
}

.main__thirdsection-image-container {
    display: flex;
}

.main__thirdsection-image {
    max-width: 100vw;
    width: 100%;
    min-width: 100%;
    height: 100%;
}

/* -------- MAIN THIRD SECTION QUERIES -------- */

@media screen and (min-width: 1000px) {

    .main__thirdsection-image {
        max-width: 100%;
        width: 100vw;
        height: 100%;
    }
}

/* -------- MAIN END -------- */

/* -------- FOOTER -------- */
.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fdfdfd;
    align-items: center;
}

/* -------- FOOTER FIRST SECTION -------- */

.footer__firstsection-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #fdfdfd;
    padding: 3em 0 4em 0;
    max-width: 100%;
    width: 100%;
}

.footer__firstsection-newsletter-container {
    display: flex;
    flex-direction: column;
}

.footer__firstsection-newsletter-title {
    padding-bottom: 1em;
    text-align: center;
}

.footer__firstsection-newsletter-input-container {
    border: 2px solid #000;
    border-radius: 8px;
    margin: auto;

}

.footer__firstsection-newsletter-input  {
    box-sizing: border-box;
    border: 2px solid #fdfdfd;
    border-radius: 8px;
    padding: 0.6em 0 0.6em 0.3em;
    outline: none;
}

.footer__firstsection-newsletter-button {
    background-color: transparent;
    box-sizing: border-box;
    color: #000000;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 0 1em;
}

.footer__firstsection-newsletter-button:hover {
    cursor: pointer;
    opacity: 0.6;
}

.footer__firstsection-redes-container {
    display: flex;
    gap: 1em;
    justify-content: center;
    font-size: 1.7em;
    padding: 1.8em 0 0 0;
}

.footer__firstsection-redes-items {
    border: 2px solid #000;
    border-radius: 20px;
    padding: 0.1em 0.2em 0 0.2em;
    color: #000;
}

.footer__firstsection-redes-items:is(:hover , :active){
    background-color: #48e;
    border-color: #48e;
    color: #fdfdfd;
    opacity: 0.7;
}

.footer__firstsection-redirecciones-container {
    display: flex;
    max-width: fit-content;
    gap: 1em;
    justify-content: center;
    margin: auto;
}

.redirecciones-container--primarias {
    border-bottom: 1px solid #000;
}

.redirecciones--primarias {
    padding: 5em 0 1em 0;
}

.redirecciones-container--secundarias {
    padding-top: 1em;
    text-align: center;
}

.footer__firstsection-redirecciones-links {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.footer__firstsection-redirecciones-links:is(:hover , :active) {
    text-decoration: underline;
}


/* -------- FOOTER FIRST SECTION QURIES -------- */

@media screen and (min-width:1100px){
    .footer {
        align-items: center;
    }

    .footer__firstsection-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .footer__firstsection-redirecciones-container {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        gap: 1em;
        justify-content: start;
        margin: 0;
    }

    .footer__firstsection-redirecciones-container {
        order: 1;
    }

    .footer__firstsection-newsletter-container {
        order: 2;
    }

    .redirecciones-container--primarias ,  .redirecciones-container--secundarias{
        max-width: 20em;
        width: 100%;
    }

    .redirecciones-container--primarias {
        border-bottom: none;
    }

    .redirecciones--primarias {
        padding: 0;
    }
    
    .redirecciones-container--secundarias{
        order: 3;
        align-items: end;
    }
    
}

/* -------- FOOTER SECOND SECTION -------- */

.footer__secondsection-container {
    display: flex;
    width: 100%;
    height: 5em;
    background-color: #48e;
    color: #fdfdfd;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}

/* -------- FOOTER SECOND SECTION QURIES -------- */

/* -------- FOOTER END -------- */


/* -------- PAGINA DE PRODUCTOS -------- */

.main__h2-container {
    display: flex;
    justify-content: center;
    padding: 2em 0;
}

.main__products-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #fdfdfd;
    gap: 5em 1em;
    padding: 0 1em 3em 1em;
}

/* -------- PAGINA DE PRODUCTOS QUERIES -------- */

@media screen and (min-width:1000px){
    .main__products-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

/* -------- PAGINA DE PRODUCTOS END -------- */



/* -------- PAGINA DE PREGUNTAS FRECUENTES -------- */

.main__details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em 0;
    max-width: 95%;
    margin: auto;
    font-size: 16px;
}

.main__details-title {
    padding: 0 0 2em 0;
    font-size: 1.8em;
    max-width: 80%;
    text-align: center;
    text-decoration: underline;
}

.main__details {
    max-width: 100%;
    width: 100%;
    animation-duration:2s;
    animation-name: details;
    background-color: rgb(117, 172, 253);
    margin: 5px;
}

.main__details[open] {
    background-color: #48e;
}

.main__details p {
    padding: 1em 0 1em 0;
    margin: auto;
    max-width: 91%;
    border-top: 1px solid #fdfdfd;
    color: #fdfdfd;
}

.main__details summary {
    list-style: none; /* Elimina el estilo de lista que incluye la flecha en algunos navegadores */
    font-weight: 600;
    padding: 1em;
    color: #fdfdfd;
}

details summary::before {
    content: "▶"; /* Flecha personalizada */
    font-size: 1em;
    color: #fdfdfd; /* Color de la flecha */
    display: inline-block;
    margin-right: 8px; /* Espacio entre la flecha y el texto */
    transition: transform 0.3s ease; /* Transición suave para la rotación */
}

details[open] summary::before {
    transform: rotate(90deg); /* Rotar la flecha cuando el details está abierto */
}

/* -------- PAGINA DE PREGUNTAS FRECUENTES QUERIES -------- */

@media screen and (min-width:1000px) {
    .main__details-container {
        max-width: 45%;
        font-size: 17px;
    }
    
    .main__details-title {
        font-size: 2em;
    }
}

/* -------- PAGINA DE PREGUNTAS FRECUENTES END -------- */


/* -------- PAGINA DE CONTACTO -------- */

.main__section-contact-container {
    margin: 3em 0
}

#contact-title {
    text-align: center;
    text-decoration: underline;
    padding: 1em 0;
    font-size: 1.8em;
    color: #48e;
}

.main__contact-container {
    display: flex;
    flex-direction: column;
    max-width: 85%;
    margin: auto;
}

.main__contact-wrapper {
    display: flex;
    flex-direction: column;
}

.main__contact-wrapper label {
    font-weight: 600;
    margin: 2em 0 0.5em 0;
    width: fit-content;
    color: #48e;
}

.main__contact-button {
    padding: 0.8em 0;
    margin: 1em 0 3em 0;
    background-color: #48e;
    color: #fdfdfd;
    border-radius: 8px;
    border: 2px solid #48e;
}

.main__contact-button:hover {
    background-color: transparent;
    outline: 1px solid #48e;
    color: #48e;
    cursor: pointer;
    transition: .4s ease;
}

.main__contact-wrapper input , .main__contact-wrapper textarea {
    padding: 1em 0 1em 0.5em;
    resize: none;
    background-color: transparent;
    color: rgb(176, 201, 238);
    border: 2px solid rgb(176, 201, 238);
    outline-color: #48e;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.main__contact-wrapper input::placeholder , .main__contact-wrapper textarea::placeholder {
    color: rgb(176, 201, 238);
}

.main__contact-wrapper input:is(:valid) , .main__contact-wrapper textarea:is(:valid){
    border: 2px solid #48e;
    color: #48e;
}

/* ----- SECCION DE DATOS DE CONTACTO ----- */

.main__contact-datos-container {
    margin-top: 3em;
}

.main__contact-datos-container h2 {
    text-align: center;
    color: #48e;
    text-decoration: underline;
}

.main__contact-politics-container {
    display: flex;
    justify-content: space-around;
    padding: 2.5em 0 2.5em 0;
}

.main__contact-politics-container a {
    text-decoration: none;
    color: #48e;
    font-size: 1.1em;
}

.main__contact-politics-container a:hover {
    text-decoration: underline;
}

.main__contact-redes-wrapper {
    display: flex;
    flex-direction: column;
}

.main__contact-redes-container {
    display: flex;
    gap: 0.5em;
    padding: 0.3em;
    font-size: 1.2em;
}

.main__contact-redes-container p  {
    color: #48e;
}

.main__contact-redes-container p strong {
    text-decoration: underline;
}

.main__contact-redes-container a {
    text-decoration: none;
    color: #48e;
}

.main__contact-mensajes-contacto-container {
    display: flex;
    flex-direction: column;
    margin: 2em 0;
}

.main__contact-mensajes-contacto-container:has(h3), .main__contact-mensajes-atencion-container:has(h3) {
    padding-bottom: .5em;
    color: #48e;
}

.main__contact-mensajes-contacto-container h3, .main__contact-mensajes-atencion-container h3 {
    padding-bottom: .5em;
}

/* -------- PAGINA DE CONTACTO QUERIES -------- */

@media screen and (min-width:1000px) {
    .main__contact-container {
        display: flex;
        flex-direction: row;
        max-width: 70%;
        justify-content: center;
    }

    .main__contact-form-container {
        max-width: 50%;
        width: 100%;
        margin-right: 2em;
    }
    
    .main__contact-form-container , .main__contact-datos-container {
        margin: 0 1em 0 1em;
    }
}

/* -------- PAGINA DE CONTACTO END -------- */